<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#channel-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" >Channels</a>
    </div>
    <div class="collapse navbar-collapse" id="channel-bar">
      <ul class="nav navbar-nav">
        <% @channel.study.channels.each do |channel| %>
          <% if channel.name == @channel.name %>
            <li style="color: #FFF;">→ <%= @channel.name %></li>
          <% else %>
            <li><%= link_to channel.name, channel_path(channel) %></li>
          <% end %>
        <% end %>
        <li><%= link_to "New channel", new_study_channel_path(@channel.study), class: "btn btn-primary" %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2 style="color: white; text-shadow: 1px 1px 1px rgba(0,0,0,0.2); ">Channels</h2>
       <% if current_user.teacher? %>
         <p style="color: #464646; font-size: 12px;"><%= link_to "New channel", new_study_channel_path(@study), class: "btn btn-primary" %></p>
       <% end %>
      <ul class="nav nav-pills nav-stacked">
        <%= link_to "SuperChannel #{@channel.subject.name}", study_path(@channel.study) %>
        <hr/>
        <% @channel.study.channels.each do |channel| %>
          <% if channel.name == @channel.name %>
            <li style="color: white; text-shadow: 1px 1px 1px rgba(0,0,0,0.2);display: flex;justify-content: center;">Thread: <%= @channel.name %></li>
          <% else %>
            <li><%= link_to channel.name, channel_path(channel) %></li>
          <% end %>
          <hr/>
        <% end %>
      </ul>
    </div>
    <br>

    <div class="col-sm-9" id="show-content">

      <nav class="subject-options">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><%= link_to "Go back to #{@channel.subject.name}", study_path(@channel.study) %></li>
            <% if current_user.teacher? %>
              <li><%= link_to "Edit channel", edit_channel_path(@channel) %></li>
             <% end %>
          </ul>
        </div>
      </nav>

      <h1 class="text-center"><%= @channel.name %></h1>
      <hr/>

      <div class="col-sm-6">

        <div class="well">
          <h3>Messages</h3>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".newmessage" data-whatever="Recepient" style="padding: 10px 30px;">New message</button>

          <hr/>
          <% @messages.each do |message| %>
            <% if message.show? %>
              <h4><%= message.user.name %> <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "avatar" %></h4>
              <h6><%= @subject %> <%= message.user.class %></h6>
              <p><%= message.content %></p>
              <p style="font-size: 12px; text-align: right;">Posted on <%= l message.created_at %></p>
              <hr/>
            <% end %>
          <% end %>
        </div>

      </div>
       <div class="col-sm-6">
        <%= render 'shared/documents_channel_show' %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/modal_new_message'%>
