<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="row form-card">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">

          <div class="row form-card-header text-center">
            <h1>Sign up to Papyru</h1>
            <p><span>Subscribe now</span> and change your way of studying.</p>
          </div>

          <div class="form-card-content">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

              <%= f.error_notification %>

              <div class="input">
                <%= f.input :name, required: true, label: false, autofocus: true, input_html: { type: "name", placeholder: "Full Name" } %>
                <span style="left: 1.2rem;"><i class="fa fa-user-o"></i></span>
              </div>

              <div class="input">
                <%= f.input :email, required: true, label: false, input_html: { type: "email", placeholder: "Email" } %>
                <span><i class="fa fa-envelope-o"></i></span>
              </div>

              <div class="input">
                <%= f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { type: "password", placeholder: "Password" } %>
                <span style="font-size: 2.2rem; left: 1.4rem;"><i class="fa fa-unlock-alt"></i></span>
              </div>

              <div class="input">
                <%= f.input :password_confirmation, required: true, label: false, input_html: { type: "password", placeholder: "Confirm Your Password" } %>
                <span style="font-size: 2.2rem; left: 1.4rem;"><i class="fa fa-lock"></i></span>
              </div>

              <div class="input">
                <%= f.input :phone_number, required: true, label: false, input_html: { type: "phone_number", placeholder: "Phone number" } %>
                <span style="left: 1.5rem; font-size: 2.1rem; top: 1.1rem;"><i class="fa fa-phone"></i></span>
              </div>

              <div class="input">
                <%= f.input :school_number, required: false, label: false, id: "school-number", input_html: { type: "text", placeholder: "School Name" } %>
                <span><i class="fa fa-graduation-cap"></i></span>
              </div>

              <div>
                <p class="text-center" style="font-size: 1.8rem; margin-bottom: 2.2rem;">Profile picture</p>
                <%= f.input :photo, label: false, input_html: { style: "margin-left: 7rem;" } %>
              </div>

              <div class="input user-type form-group-lg">
                <p class="text-center" style="font-size: 1.8rem;">I am a</p>
                <%= f.input :type, as: :select, collection: ["Teacher", "Student"], default: "Teacher", label: false, input_html: { onchange: "sign_up_logic()" } %>
              </div>

              <div class="input hidden form-group-lg mayor-subject" id="mayor-input">
                <p class="text-center" style="font-size: 1.8rem;">I am studying</p>
                <%= f.input :mayor_id, as: :select, collection: Mayor.all, label: false, default: "" %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up →", class: "btn submit-btn" %>
              </div>

              <br/>

              <div class="row line-space">
              </div>

              <br/>

              <div class="sign-up-form">
                <p style="display: inline;">Already have an account?</p>
                <%- if controller_name != 'sessions' %>
                  <%= link_to "Log in", new_session_path(resource_name), class: "sign-up" %><br />
                <% end -%>
              </div>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
