<!--

<div class="container container-notification">
  <div class="row">
    <div class="col-xs-12">

      <div class="card-notification">
        <h2><% @notifications_unread.each_with_index do |notification, ind| %></h2>
        <h1 class="notification-index">Notification #<%= ind + 1 %></h1>
        <div class="card w-75">
          <div class="card-body">
            <h4 class="card-title"><%= notification.message.channel.subject.name %> - <%= notification.message.channel.name %></h4>
            <p class="card-text"><%= notification.message.content %></p>
            <h4><%= notification.message.user.name %></h4>
            <%= link_to "Read", change_status_notification_path(notification), class: "btn btn-primary", method: :patch%>
          </div>
        </div>

        <% end  %>
      </div>

    </div>
  </div>
</div>

-->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row notifications-card">
        <div class="col-xs-10 col-xs-offset-1">

          <div class="notifications-card-header">
            <div class="notifications-header-content row">
              <div class="col-xs-10">
                <h1><%= link_to "All", "#", class: "header-link" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Mentions", "#", class: "header-link" %></h1>
              </div>
              <div class="col-xs-2 pull-right">
                <p style="padding-top: 1.6rem;"><%= link_to "Clear All", "#", class: "header-link pull-right" %></p>
              </div>
            </div>
          </div>

          <div class="notifications-card-content">
            <% @notifications_unread.each_with_index do |notification, ind| %>
              <div class="notifications-body-content row">
                <div class="teacher-avatar-container col-xs-1">
                  <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "teacher-avatar" %>
                </div>
                <div class="col-xs-10">
                  <p><span class="notification-user"><%= notification.message.user.name %></span> posted a new message in <span class="notification-channel"><%= notification.message.channel.name %> (<%= notification.message.channel.subject.name %>)</span><span class="notification-date">・<%= notification.message.created_at.strftime('%d %b %Y at %H:%M') %></span></p>
                  <p class="notification-message"><%= notification.message.content %></p>
                </div>
                <div class="col-xs-1 pull-right">
                  <p>
                    <%= link_to change_status_notification_path(notification), class: "pull-right", method: :patch do%>
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

