<footer class="flex-rw">

  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Get Started</h4>
    </li>
    <li><%= link_to why_papyru_path do %>Why Papyru?<% end %></li>
    <li><a href="http://www.papyru.online/users/sign_up">Sign Up</a></li>
    <li><%= link_to t(".sign_in", default: "Log In"), new_user_session_path %></li>
  </ul>

  <ul class="footer-list-top">
    <li>
      <h4 class="footer-list-header">Resources</h4>
    </li>
    <li><a href="https://www.youtube.com/watch?v=n_1XpHJTil4&t=1875s" target="_blank">Papyru Showcase</a></li>
    <li><a href="https://github.com/franciscoovazevedo/papyru" target="_blank">On Github</a></li>
    <li><%= link_to about_us_path do %>About Us<% end %></li>
  </ul>

  <ul class="footer-list-top">
    <li id='help'>
      <h4 class="footer-list-header">Meet the Team</h4>
    </li>
    <li><a href="https://github.com/franciscoovazevedo" target="_blank">@franciscoovazevedo</a></li>
    <li><a href="https://github.com/gabrielecanepa" target="_blank">@gabrielecanepa</a></li>
    <li><a href="https://github.com/ManuelSep" target="_blank">@ManuelSep</a></li>
  </ul>

  <section class="footer-bottom-section flex-rw">
    <div class="footer-bottom-wrapper">
      <i class="fa fa-copyright" role="copyright"></i>
      2017 Papyru<span class="footer-bottom-rights"> - Coded in <address class="footer-address" role="company address">Lisbon</address> for <%= link_to "http://www.lewagon.com/lisbon", target: "_blank", class: "footer-wagon-logo" do %><%= image_tag("logo_wagon.png", alt: "Le Wagon", width: "100rem") %><% end %></span>
    </div>
    <div class="footer-bottom-wrapper">
      <a href="#" class="generic-anchor" rel="nofollow">Terms</a> | <a href="#" class="generic-anchor" rel="nofollow">Privacy</a>
    </div>
  </section>
</footer>
