<div class="navbar-wagon <%= 'fix-navbar' if @fix_navbar %> ">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
   <%= image_tag("http://res.cloudinary.com/gabrielecanepa/image/upload/v1503502488/logo-web.png", :alt => "Papyru") %>

  <% end %>
  <div class="papyru-title">PAPYRU</div>

  <!-- ###Desktop view -->
  <div class="navbar-wagon-right hidden-xs">

    <!-- ##Logged in -->
    <% if user_signed_in? %>

      <!-- #Links -->
      <div class="dropdown">

        <%= link_to notifications_path, :class => 'navbar-wagon-link dropdown-toggle', id: "navbar-papyru-menu", "data-toggle" => "dropdown" do %>
        <span><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</span>

        <%= link_to notifications_path, :class => 'navbar-wagon-link dropdown-toggle', "data-toggle" => "dropdown" do %>
          <span><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</span>

        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-papyru-dropdown-menu">
          <li>
            <%= link_to edit_user_registration_path do %>
            <%= t(".profile", default: "Account Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to about_us_path do %>
            <%= t("#", default: "About Us") %>
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
            <%= t("#", default: "Help") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <%= content_tag :div, :class => 'navbar-wagon-link dropdown-toggle', "data-toggle" => "dropdown" do %>
        <span style="margin-right: 1rem;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Subjects</span>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" style="margin-top: 24px; margin-right: 28px;">
          <% if current_user.teacher? %>

          <li>
            <%= link_to "Add a New Subject +", new_study_path, class: "nav-new-subject" %>
          </li>

            <li>
              <%= link_to "Add a New Subject +", new_study_path, class: "nav-new-subject", id: "color-dropdown-link" %>
            </li>
          <% end %>
          <% current_user.studies.each do |study| %>
          <li>
            <%= link_to study.subject.name, study_path(study), class: "nav-subject" %>
          </li>
          <% end %>
        </ul>
      </div>

      <!-- #Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
              <%= t(".profile", default: "Account Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to about_us_path do %>
              <%= t("#", default: "About Us") %>
              <% end %>
            </li>
            <li>
              <%= link_to help_path do %>
              <%= t("#", default: "Help") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <!-- ##Logged out -->
    <% else %>

    <!-- #Links -->
      <%= link_to why_papyru_path, :class => 'navbar-wagon-link' do %>
        <span>Why Papyru?</span>
      <% end %>
      <%= link_to about_us_path, :class => 'navbar-wagon-link' do %>
        <span>About Us</span>
      <% end %>
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "navbar-wagon-link btn", id: "navbar-login" %>
    <% end %>
  </div>

  <!-- ###Mobile view -->
  <div class="navbar-wagon-right hidden-sm hidden-md hidden-lg">

    <!-- ##Logged in -->
    <% if user_signed_in? %>

      <!-- #Links -->
      <%= link_to notifications_path, :class => 'navbar-wagon-link navbar-wagon-mobile-link' do %>
        <span>Notifications</span>
      <% end %>
      <%= link_to studies_path, :class => 'navbar-wagon-link navbar-wagon-mobile-link' do %>
        <span>Subjects</span>
      <% end %>

      <!-- #Dropdown menu -->
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" style="font-size: 2rem; cursor: pointer;" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "About Us", about_us_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>

    <!-- ##Logged out -->
    <% else %>

      <!-- #Dropdown menu -->
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" style="font-size: 2rem; cursor: pointer;" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to t(".sign_in", default: "Log in"), new_user_session_path, id: "color-dropdown-link" %></li>
          <li><%= link_to "Why Papyru?", why_papyru_path %></li>
          <li><%= link_to "About Us", about_us_path %></li>
        </ul>
      </div>

    <% end %>
  </div>

</div>
