<div class="container-fluid">

  <!-- Banner -->
  <div class="row main">
    <div class="col-xs-12 col-lg-6 header-container table-row">
      <h1>Making education easier</h1>
      <p>When you need to <span>prepare an exam</span>, <span>ask your teachers a new question</span>, <span>download some useful file</span>, <span>receive a communication</span>, or simply plan your next step through your studies, Papyru is here to help you.</p>
      <%= link_to t(".sign_in", default: "GET STARTED"), new_user_session_path, class: "btn btn-primary" %>
      <p class="sign-in">Already have an account? <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></p>
    </div>

    <div class="col-xs-12 col-lg-6 picture-container table-row">
      <%= image_tag("home_bg.svg", alt: "", class: "main-picture") %>
    </div>
  </div>

  <!-- Supporting -->
  <div class="row supporting text-center">
    <h2>Your studying experience is ready to change</h2>
    <p>Other students and teachers like you have already made Papyru the place where their education happens.</p>
    <div class="btn btn-primary">DISCOVER MORE</div>
  </div>

  <!-- Features -->
  <div class="row features">
    <%= image_tag("features.svg", alt: "", class: "features-picture") %>
  </div>

  <!-- Email supporting  -->
  <div class="row email-supporting">
    <div class="col-xs-12 col-md-6">
      <h2>Try now for free</h3>
      <p>Already using Papyru? <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></p>
    </div>
    <div class="col-xs-12 col-md-6 email-container">
      <form class="form-inline">
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Email">
        <div class="btn btn-primary">GET STARTED</div>
      </form>
    </div>
  </div>

  <%= render 'shared/footer' %>

</div>

