<div class="container-fluid">

  <!-- Banner -->
  <div class="row main">
    <div class="col-xs-12 col-lg-6 header-container table-row">
      <h1>Making education easier</h1>
      <p>When you need to prepare an exam, ask your teachers a new question, download some useful file, receive a communication, or simply plan your next step through your studies, Papyru is here to help you.</p>
      <%= link_to t(".sign_in", default: "GET STARTED"), new_user_session_path, class: "btn btn-primary" %>
      <p class="sign-in">Already have an account? <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></p>
    </div>

    <div class="col-xs-12 col-lg-6 picture-container table-row">
      <%= image_tag("home_bg.svg", alt: "", class: "main-picture") %>
    </div>
  </div>

  <!-- Supporting -->
  <div class="row supporting text-center">
    <h2>Your studying experience is ready to change</h2>
    <p>Other students and teachers around the world have already made Papyru the place where their education happens.</p>
    <div class="btn btn-primary">DISCOVER MORE</div>
  </div>

  <!-- Features -->
  <div class="row features" id="features">

    <!-- ↪︎ Device -->
    <div class="device-container col-xs-12 col-md-6">
      <%= image_tag("ipad_landscape.png", alt: "", class: "device-picture") %>
    </div>

    <!-- ↪︎ Items -->
    <div class="items-container col-xs-12 col-md-6">
      <div class="container-fluid">

        <div class="row items-container">
          <div class="col-xs-12 col-sm-6">
            <div class="feature-item">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <h3>Access your subjects</h3>
              <p>Ask your teacher to add you to his subjects and enter Papyru</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="feature-item">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              <h3>Download useful files</h3>
              <p>Download everything you need to study more efficiently</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="feature-item">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>
              <h3>Ask a new question</h3>
              <p>You're stucked? No problem! Ask a public question to your teacher</p>
            </div>
          </div>

          <div class="ccol-xs-12 col-sm-6">
            <div class="feature-item">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              <h3>Go for it!</h3>
              <p>Use Papyru, improve the way you study and get your grades up</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Email supporting  -->
  <div class="row email-supporting">
    <div class="col-xs-12 col-md-6">
      <h2>Try now for free</h3>
      <p>Already using Papyru? <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 email-container">
      <form class="form-inline">
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Email">
        <div class="btn btn-primary">GET STARTED</div>
      </form>
    </div>
  </div>

  <!-- Footer -->
  <div class="row" style="background-color: red;">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <%= image_tag("http://res.cloudinary.com/gabrielecanepa/image/upload/v1503502488/logo-web.png", size: "32") %>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>
  </div>

  <div class="row footer" style="height: 100px; background-color: green;">
  </div>

</div>

