<div class="container why-papyru__container">
  <div class="section__container">
    <h1 class="section__headline">Why Papyru?</h1>
    <p class="section__paragraph">Click on one of the questions below to discover what <span>you can achieve with Papyru!</span></p>
    <%= image_tag("why_papyru.svg", alt: "", class: "section__picture") %>
    <hr/>
  </div>

  <ul class="c-faqs">
    <li class="c-faq c-faq--active">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">With <strong>Papyru</strong> you can easily <em>manage your education</em> and <em>become more efficient</em>. The entire app is organied by <span>subjects</span>: a teacher who subscribes can <em>create a new channel</em> for every subject he is teaching, a student can then be part of the channel when is added by the teacher. Every subject is splitted in different <span>topics</span>: in each one teachers and students can <em>share new messages, documents, communications, slides and other attachments.</em></p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">As a teacher</span>
      <div class="c-faq__answer">
        <%= image_tag("professor.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">As </p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">As a student</span>
      <div class="c-faq__answer">
        <%= image_tag("student.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Papyru is</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">First steps</span>
      <div class="c-faq__answer">
        <%= image_tag("student2.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">Questions &amp; Answers</span>
      <div class="c-faq__answer">
        <%= image_tag("qa.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">Mentions and notifications</span>
      <div class="c-faq__answer">
        <%= image_tag("notifications.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
  </ul>
</div>
