<div class="container why-papyru__container">
  <div class="section__container">
    <h1 class="section__headline">Why Papyru?</h1>
    <p class="section__paragraph">Click on one of the questions below to discover what <span>you can achieve with Papyru!</span></p>
    <%= image_tag("why_papyru.svg", alt: "", class: "section__picture") %>
    <hr/>
  </div>

  <ul class="c-faqs">
    <li class="c-faq c-faq--active">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">Or ride our bikes around the halls I think some company is overdue I've started talking to the pictures on the walls (Hang in there, Joan!) It gets a little lonely All these empty rooms</p>
      </div>
    </li>
  </ul>
</div>

<%= render "shared/footer_bottom" %>
