<div class="container why-papyru__container">
  <div class="section__container">
    <h1 class="section__headline">Why Papyru?</h1>
    <p class="section__paragraph">Click on one of the questions below to discover what <span>you can achieve with Papyru!</span></p>
    <%= image_tag("why_papyru.svg", alt: "", class: "section__picture") %>
    <hr/>
  </div>

  <ul class="c-faqs">
    <li class="c-faq c-faq--active">
      <span class="c-faq__title">What is Papyru?</span>
      <div class="c-faq__answer">
        <%= image_tag("logo.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">With <strong>Papyru</strong> you can easily manage your education and fastly become more efficient<strong>.</strong></p>
        <p class="c-faq__paragraph">The entire app is organied by <span>subjects</span>: a <em>teacher</em> who subscribes can create a new channel for every subject he is teaching, a <em>student</em> can then be part of the channel when is added by the teacher<strong>.</strong></p>
        <p class="c-faq__paragraph">Every subject is splitted in different <span>topics</span>: in each one teachers and students can share new <em>messages</em>, <em>documents</em>, <em>communications</em>, <em>slides</em> and <em>other attachments</em><strong>.</strong></p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">As a teacher</span>
      <div class="c-faq__answer">
        <%= image_tag("professor.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">If you are a <strong>teacher</strong> you will fall in love with Papyru<strong>!</strong></p>
        <p class="c-faq__paragraph">Create a <span>new channel</span> related to your subject and add all your students with a simple <em>CSV file</em><strong>;</strong> in every channel you can then create different <span>topics</span> for every section of the subject you are teaching<strong>.</strong></p>
        <p class="c-faq__paragraph">Once your channel is set-up start <span>communicating</span> with your students by <em>posting messages, communications, documents</em> and <em>answer their questions only once</em><strong>!</strong></p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">As a student</span>
      <div class="c-faq__answer">
        <%= image_tag("student.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">With <strong>Papyru</strong> you can easily manage your education and fastly become more efficient<strong>.</strong></p>
        <p class="c-faq__paragraph">The entire app is organied by <span>subjects</span>: a <em>teacher</em> who subscribes can create a new channel for every subject he is teaching, a <em>student</em> can then be part of the channel when is added by the teacher<strong>.</strong></p>
        <p class="c-faq__paragraph">Every subject is splitted in different <span>topics</span>: in each one teachers and students can share new <em>messages</em>, <em>documents</em>, <em>communications</em>, <em>slides</em> and <em>other attachments</em><strong>.</strong></p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">First steps</span>
      <div class="c-faq__answer">
        <%= image_tag("student2.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">If you are a <strong>teacher</strong> you will fall in love with Papyru<strong>!</strong></p>
        <p class="c-faq__paragraph">Create a <span>new channel</span> related to your subject and add all your students with a simple <em>CSV file</em><strong>;</strong> in every channel you can then create different <span>topics</span> for every section of the subject you are teaching<strong>.</strong></p>
        <p class="c-faq__paragraph">Once your channel is set-up start <span>communicating</span> with your students by <em>posting messages, communications, documents</em> and <em>answer their questions only once</em><strong>!</strong></p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">Questions &amp; Answers</span>
      <div class="c-faq__answer">
        <%= image_tag("qa.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">With <strong>Papyru</strong> you can easily manage your education and fastly become more efficient<strong>.</strong></p>
        <p class="c-faq__paragraph">The entire app is organied by <span>subjects</span>: a <em>teacher</em> who subscribes can create a new channel for every subject he is teaching, a <em>student</em> can then be part of the channel when is added by the teacher<strong>.</strong></p>
        <p class="c-faq__paragraph">Every subject is splitted in different <span>topics</span>: in each one teachers and students can share new <em>messages</em>, <em>documents</em>, <em>communications</em>, <em>slides</em> and <em>other attachments</em><strong>.</strong></p>
      </div>
    </li>
    <li class="c-faq">
      <span class="c-faq__title">Mentions and notifications</span>
      <div class="c-faq__answer">
        <%= image_tag("notifications.svg", alt: "", class: "c-faq__icon") %>
        <p class="c-faq__paragraph">If you are a <strong>teacher</strong> you will fall in love with Papyru<strong>!</strong></p>
        <p class="c-faq__paragraph">Create a <span>new channel</span> related to your subject and add all your students with a simple <em>CSV file</em><strong>;</strong> in every channel you can then create different <span>topics</span> for every section of the subject you are teaching<strong>.</strong></p>
        <p class="c-faq__paragraph">Once your channel is set-up start <span>communicating</span> with your students by <em>posting messages, communications, documents</em> and <em>answer their questions only once</em><strong>!</strong></p>
      </div>
    </li>
  </ul>
</div>

<%= render 'shared/footer' %>
