<div class="container-fluid">

  <div class="row header text-center" style="margin-top: 2.5rem; margin-bottom: 2.2rem;">
    <h1>Welcome back <%= current_user.name %>!</h1>
    <% unless  @notifications_number == 0 %>
      <% if @notifications_number == 1 %>
        <h3>You have <%= link_to "#{@notifications_number} unread notification", notifications_path %>!</h3>
      <% else %>
        <h3>You have <%= link_to "#{@notifications_number} unread notifications", notifications_path %>!</h3>
      <% end %>
    <% end %>
  </div>

  <div class="row content">

    <% current_user.studies.each do |study| %>
      <div class=" col-xs-6 col-sm-4 col-md-3">
        <div class="column-center">
          <%= render "shared/card_subjects", study: study %>
        </div>
      </div>
    <% end %>

    <% if current_user.teacher? %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="subject-card">
          <div class="text-center">
            <img class="card-add-sign" style="width: 8rem; height: auto;" src="http://res.cloudinary.com/gabrielecanepa/image/upload/v1503671154/noun_6155_zrhzab.png">
          </div>
          <%= link_to '', new_study_path, class: 'subject-card-link' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
</div>
