<div class="container-fluid">
  <div class="row content">

    <%= render 'shared/sidebar' %>

    <div class="col-md-9 page-content">

      <div class="col-sm-6">
        <div class="well">
          <h3>Messages</h3>
          <hr/>
          <% @messages.each do |message| %>
            <% if message.show? %>
              <h4><%= message.user.name %>
                <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "avatar" %>
              </h4>
              <h6><%= @subject %> <%= message.user.class %></h6>
              <p><%= message.content %></p>
              <p style="font-size: 12px; text-align: right;">Posted on <%= l message.created_at %></p>
              <hr/>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-6">
        <%= render 'shared/documents_channel_show' %>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/modal_new_channel' %>
<%= render 'shared/add_students_modal' %>
