<% content_for :title, "Papyru - #{@subject}" %>
<div class="container-fluid">
  <div class="row content">

    <%= render 'shared/sidebar' %>

    <div class="col-md-9 page-content">

      <div class="col-sm-6">
        <div class="well">

          <h3>Last Messages in <%= @subject %></h3>

          <% @messages.each do |message| %>
            <div class="message-container">
            <% if message.show? %>
              <h4><%= message.user.name %> <span style="font-size: 12px;">(<%= @subject %> <%= message.user.class %>)</span>
                <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "avatar" %>
              </h4>
              <p class="message-content"><%= message.content %></p>
              <p style="font-size: 12px; text-align: right;" class="message-posted-at">Posted on <%= l message.created_at %></p>
              <hr/>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-6">
        <%= render 'shared/documents_channel_show' %>
      </div>

    </div>
  </div>
</div>

<%= render 'shared/modal_new_channel' %>
<%= render 'shared/add_students_modal' %>
