<%= render 'shared/sidebar' %>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2 style="color: white; text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">Channels</h2>
      <% if current_user.teacher? %>
        <p style="color: #464646; font-size: 12px;"><%= link_to "New channel", new_study_channel_path(@study), class: "btn btn-primary" %></p>
      <% end %>
      <ul class="nav nav-pills nav-stacked">
        <hr/>
        <% @channels.each do |channel| %>
          <li><%= link_to channel.name, channel_path(channel) %></li>
          <hr/>
        <% end %>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-9" id="show-content">

      <nav class="subject-options">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><%= link_to "Edit subject", edit_study_path %></li>
          </ul>
        </div>
      </nav>

      <h1 class="text-center"><%= @subject %></h1>
      <hr/>

      <div class="col-sm-2">

        <div class="well">
          <h3>Messages</h3>
          <hr/>
          <% @messages.each do |message| %>
            <h4><%= message.user.name %> <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "avatar" %></h4>
            <h6><%= @subject %> <%= message.user.class %></h6>
            <p><%= message.content %></p>
            <p style="font-size: 12px; text-align: right;">Posted on <%= l message.created_at %></p>
            <hr/>
          <% end %>
        </div>

      </div>

      <div class="col-sm-4">
        <div class="form-test">
          <h5>form test</h5>
          <hr/>
          <form class="form-inline" role="form" action="channel/channel_id/search" method="get">
            <div class="form-group">
              <input type="text" class="form-control" name="Q&A" id="search" placeholder="Search for a awnser">
            </div>
            <button type="submit" class="btn btn-default" id="search-btn">Search</button>
          </form>
        </div>
      </div>

      <div class="col-sm-6">



        <%  @documents.each do |doc|  %>
          <% if doc.exam.any? %>
            <div class="well">
              <h3>Exams</h3>
              <hr/>
              <%= render doc.exam.limit(3) %>
            </div>
          <% end %>


        <% if doc.former_exam.any?  %>
          <div class="well">
            <h3>Former-exams</h3>
            <hr/>
            <%= render doc.former_exam.limit(3) %>
          </div>
        <% end %>

        <% if doc.slide.any?  %>
          <div class="well">
            <h3>Slides</h3>
            <hr/>
            <%= render doc.slide.limit(3) %>
          </div>
        <% end %>

        <% if doc.exercise.any?  %>
          <div class="well">
            <h3>Exercises</h3>
            <hr/>
            <%= render doc.exercise.limit(3) %>
          </div>
        <% end %>
         <% end %>


      </div>
    </div>
  </div>
</div>
