<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
      <div class="dropdown">
        <p class="dropdown-toggle" data-toggle="dropdown">View all the channels </p>
        <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
          <% @channels.each do |channel| %>
            <li><%= channel.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- THIS SHOWS ALL THE CHANNELS, SIDE BAR THIS -->
<h2>SIDE BAR</h2>
<% @channels.each do |channel| %>

<!-- This should be a link to the channel#show -->
  <p><%= link_to channel.name, channel_path(channel) %></p>
<% end %>

<h2>Documents</h2>
<% @documents.each do |document| %>
  <h3> <%=    document.filetype.capitalize %></h3>
    <!-- This is the name of the file, we should link this to the actual document, but only in the next version, for the first Demo this is enough -->
  <p> <%= document.name %></p>
<% end %>
