<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#channel-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Channels</a>
    </div>
    <div class="collapse navbar-collapse" id="channel-bar">
      <ul class="nav navbar-nav">
        <% @channels.each do |channel| %>
          <li><%= link_to channel.name, channel_path(channel) %></li>
        <% end %>
        <li><%= link_to "New channel", new_study_channel_path(@study), class: "btn btn-primary" %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2 style="color: white; text-shadow: 1px 1px 1px rgba(0,0,0,0.2);">Channels</h2>
      <p style="color: #464646; font-size: 12px;"><%= link_to "New channel", new_study_channel_path(@study), class: "btn btn-primary" %></p>
      <ul class="nav nav-pills nav-stacked">
        <hr/>
        <% @channels.each do |channel| %>
          <li><%= link_to channel.name, channel_path(channel) %></li>
          <hr/>
        <% end %>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">

      <nav class="subject-options">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><%= link_to "Edit subject", edit_study_path %></li>
          </ul>
        </div>
      </nav>

      <h1 class="text-center"><%= @subject %></h1>
      <hr/>

      <div class="col-sm-6">

        <div class="well">
          <h3>Messages</h3>
          <hr/>
          <% @messages.each do |message| %>
            <h4><%= message.user.name %> <%= image_tag 'http://res.cloudinary.com/gabrielecanepa/image/upload/v1503073103/btsjxodlff6haw7glxsg.jpg', class: "avatar" %></h4>
            <h6><%= @subject %> <%= message.user.class %></h6>
            <p><%= message.content %></p>
            <p style="font-size: 12px; text-align: right;">Posted on <%= l message.created_at %></p>
            <hr/>
          <% end %>
        </div>

      </div>

      <div class="col-sm-6">

        <div class="well">
          <h3>Exam</h3>
          <hr/>
          <% @documents.each do |document| %>
            <% if document.filetype == "exam" %>
              <h4><a href="#"><%= document.name %></a> <%= image_tag("http://www.dilekceornegi.org/wp-content/uploads/2015/01/pdf-logo.png", size: "32") %></h4>
              <h6>Description of the document</h6>
              <a href="#" style="font-size: 12px;">Download</a>
              <p style="font-size: 12px; text-align: right;">Posted on <%= l document.created_at %></p>
            <% end %>
          <% end %>
        </div>

        <div class="well">
          <h3>Exam</h3>
          <hr/>
          <% @documents.each do |document| %>
            <% if document.filetype == "exam" %>
              <h4><a href="#"><%= document.name %></a> <%= image_tag("http://www.dilekceornegi.org/wp-content/uploads/2015/01/pdf-logo.png", size: "32") %></h4>
              <h6>Description of the document</h6>
              <a href="#" style="font-size: 12px;">Download</a>
              <p style="font-size: 12px; text-align: right;">Posted on <%= l document.created_at %></p>
            <% end %>
          <% end %>
        </div>

        <div class="well">
          <h3>Exam</h3>
          <hr/>
          <% @documents.each do |document| %>
            <% if document.filetype == "exam" %>
              <h4><a href="#"><%= document.name %></a> <%= image_tag("http://www.dilekceornegi.org/wp-content/uploads/2015/01/pdf-logo.png", size: "32") %></h4>
              <h6>Description of the document</h6>
              <a href="#" style="font-size: 12px;">Download</a>
              <p style="font-size: 12px; text-align: right;">Posted on <%= l document.created_at %></p>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
