<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://www.cfmws.com/en/AboutUs/PSP/recreation/CNA/1607-04-CommunityNeedsAssessment-1200x630px-B01.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description'
      content='Papyru is a modern platform, developed in Le Wagon Bootcamp Lisbon by three junior developers, that joins students and teachers in a super user firendly way. ' />
    <meta name='keywords'
      content='papyru,students,education,teachers,platform,e-learning' />

    <title> <%= yield(:title).blank? ? "Papyru | Teaching Platform" : yield(:title)   %></title>

    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'sign_up_form' %>
  </body>
</html>
